# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.turbo/
tscommand-*.tmp

# Env
.env
.env.local
.env.development.local

# Logs
logs/
*.log

# IDE files
.vscode/
.idea/

# Prisma
prisma/migrations/dev.db
prisma/*.db
prisma/*.db-journal
.prisma/
**/generated/
# Ignore migrations during early development (remove this when going to production)
**/prisma/migrations/
